body {
  text-align: center;
  background-color: #EEEBDD;

}

h1 {
  font-size: 50px;
  margin-top: 0;
font-family: bold;
color: black;
line-height: 2;
margin: 50px auto 0 auto;

}


h2{
font-weight: normal;
font-size: 25px;
color: #11999E;
}

h3{
  color: #11999E;
}
p {
line-height: 2;
}
hr {
  width: 1%;
  border: dotted;
  margin: 80px auto 80px auto ;
}
a{
margin: 10PX 20PX;
text-decoration: none;
}
a:hover{
color: white;
}
 .top-cointainer{
  /*background-color: #BC8CF2;*/
  position: relative;
  padding-top: 100px;
  /*border: solid;
  border-width: 10x;
  margin-left: 0px;
  padding: 20px;*/
}
.middle-cointainer{
  background-image: url();
  text-align: center;
}
.profile{
  text-align: center;
}

.bottom-cointainer {
  background-color: #66BFBF;
  padding: 40px 0 10px;
}

.skill{}
.top-cloud{

  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row{
  width: 80%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.code-image{
  float: right;
  margin-left: 30px;
}

.design{
  width: 30%
  margin:auto;
}
.paint{
  width: 30%
  margin:auto;
}
.art-image{
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
  float: left;
  margin-right: 30px;

}
 .dp{
  max-width: 13%;
  max-height: 13%;

}
 .Hello{
background-image: url(https://media0.giphy.com/media/OkVVUlG40FnuE/200w.webp?cid=ecf05e47uwqgyng4rrzg60sf1hzhfr68yartp7bz80qlqzu7&rid=200w.webp&ct=g);
  height: 90px;
  width: 100%;
  text-align: bottom;

}
.messege{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #ffffff;
  font-size: 0.75 rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat' , sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.mydiv {

  font-weight: 225px;
  background-color: lightblue;
  animation: mymove 5s infinite;
  @keyframes mymove {
    20% {margin: 100px;}
  }
}
